<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", { title: "Card Index for " + user.name, css: "", js: "" }) %>
<body>
    <%- include("partials/nav.ejs") %>
    <section class="hero">
        <h1><span class="federal-blue">C</span><span class="pantone-orange">a</span><span class="avocado">r</span><span class="goldenrod">d</span><span class="federal-blue">s</span></h1>
    </section>
    <section class="hero">
        <p>
            <a href="/users/<%= user._id %>/cards/new" class="btn bg-<%= user.currentColor %>">Add a card as <%= user.name %></a>
        </p>
    </section>
    <main>
        <div class="card-deck">
            <% for (let card of cards) { %>
                <div class="card col-sm-6 col-xl-3 bg-floral-white">
                    <div class="card-body text-center">
                        <h5 class="card-title bg-<%= card.bgColor %>"><%= card.target %></h5>
                        <ul class="list-group list-group-flush">
                            <% for (let blocker of card.blockers) { %>
                                <li class="list-group-item"><%= blocker %></li>
                            <% } %>
                        </ul>
                        <form method="POST" action="/users/<%= user._id %>/cards/<%= card._id %>?_method=DELETE">
                            <input type="submit" value="Del" class="btn btn-danger">
                            <a href="/users/<%= user._id %>/cards/<%= card._id %>/edit" class="btn btn-warning">Edit</a>
                            <a href="/users/<%= user._id %>/cards/<%= card._id %>" class="btn btn-primary">View</a>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>